{% extends 'base.html' %}

{% block content %}
   <!-- Register -->
      <section class="section-padding">
         <div class="container">
            <div class="row">
               <div class="col-lg-5 col-md-5 mx-auto">
                  <div class="card padding-card no-radius border t-align-l">
                     <div class="card-body">
                        <h5 class="card-title mb-4">Пароль изменен</h5>
                      <p>
                        Ваш пароль успешно изменен, вы можете снова войти по ссылке <a href="{% url 'login_url' %}">Авторизация</a>, используя ваш новый пароль.
                      </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- End Register -->

{% endblock %}