{% extends 'base.html' %}

{% block content %}
   <!-- Register -->
      <section class="section-padding">
         <div class="container">
            <div class="row">
               <div class="col-lg-5 col-md-5 mx-auto">
                  <div class="card padding-card no-radius border t-align-l">
                     <div class="card-body">
                        <h5 class="card-title mb-4">Почти готово</h5>
                          <p>
                            Мы послали вам на e-mail инструкцию по смене пароля. Вы должны получить письмо с минуты на минуту.
                          </p>
                          <p>
                            Если вы не получили письмо, убедитесь что вы указали верный e-mail адрес, и проверьте папку СПАМ в своём почтовом ящике.
                          </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- End Register -->

{% endblock %}