{% extends 'base.html' %}

{% block content %}
   <!-- Register -->
      <section class="section-padding">
         <div class="container">
            <div class="row">
               <div class="col-lg-5 col-md-5 mx-auto">
                  <div class="card padding-card no-radius border t-align-l">
                     <div class="card-body">
                        <h5 class="card-title mb-4">Регистрация</h5>
                         <form action="{% url 'register_url' %}" method="POST" id="post-add-form">
                            {% csrf_token %}

                            {% for field in form %}
                                 <div class="form-group">
                                    {{ field.label_tag }}
                                    {{ field.error_messages }}
                                    {{ field }}
                                </div>
                            {% endfor %}
                            <input type="submit" class="btn btn-primary btn-lg btn-block" value="Зарегистрироваться">
                         </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- End Register -->

{% endblock %}