{% extends 'base.html' %}

{% block content %}
      <!-- Property Single Slider header -->
      <!-- End Property Single Slider header -->
      <!-- Property Single Slider -->
      <section class="section-padding">
         <div class="container">
            <div class="row">
               <div class="col-lg-8 col-md-8">
                  <div class="car property-single-slider">
                     <div class="card-body samar-slider pl-0 pr-0 pt-0 pb-0">
                        <div id="samarsliderz" class="carousel slide" data-ride="carousel">
                           <ol class="carousel-indicators">
                              <li data-target="#samarsliderz" data-slide-to="0" class="active"></li>
                           {% for i in image_iteration_list %}
                               <li data-target="#samarsliderz" data-slide-to="{{ i }}"></li>
                           {% endfor %}
                           </ol>
                           <div class="carousel-inner" role="listbox">
                               {% for image in classified.classified_images.all %}
                                   {% if image == classified.classified_images.first %}
                                       <div class="carousel-item active rounded "><img src="{{ image.get_src }}" /></div>
                                   {% else %}
                                       <div class="carousel-item rounded "><img src="{{ image.get_src }}" /></div>
                                   {% endif %}
                               {% endfor %}
                           </div>
                           <a class="carousel-control-prev" href="#samarsliderz" role="button" data-slide="prev">
                           <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                           <span class="sr-only">Previous</span>
                           </a>
                           <a class="carousel-control-next" href="#samarsliderz" role="button" data-slide="next">
                           <span class="carousel-control-next-icon" aria-hidden="true"></span>
                           <span class="sr-only">Next</span>
                           </a>
                        </div>
                     </div>
                  </div>
                  <div class="card padding-card property-single-slider">
                     <div class="card-body">
                        <h5 class="card-title mb-3">Описание квартиры</h5>
                        <div class="row">
                           <div class="col-lg-4 col-md-4">
                              <div class="list-icon">
                                 <i class="mdi mdi-move-resize-variant"></i>
                                 <strong>Площадь:</strong>
                                 <p class="mb-0">{{ classified.flat_square }} м2.</p>
                              </div>
                           </div>
                           <div class="col-lg-4 col-md-4">
                              <div class="list-icon">
                                 <i class="mdi mdi-sofa"></i>
                                 <strong>Комнат:</strong>
                                 <p class="mb-0">{{ classified.nmb_rooms }}</p>
                              </div>
                           </div>
                           <div class="col-lg-4 col-md-4">
                              <div class="list-icon">
                                 <i class="mdi mdi-floor-plan"></i>
                                 <strong>Этажей:</strong>
                                 <p class="mb-0">{{ classified.flat_floor }} из {{ classified.total_floor }}</p>
                              </div>
                           </div>
                        </div>
                        {{ classified.flat_description }}
                     </div>
                  </div>
      <!-- Similar Properties -->
      <section class="section-padding  border-top">
         <div class="container">
            <div class="row">
               <div class="col-lg-12 col-md-12 section-title text-left mb-4">
                  <h2>Похожие предложения квартир</h2>
               </div>
             {% for classified in related_classifieds %}
               <div class="col-lg-6 col-md-6">
                  <div class="card card-list">
                     <a href="{{ classified.get_absolute_url }}">
                        <div class="card-img">
                           <div class="badge images-badge"><i class="mdi mdi-image-filter"></i> {{ classified.classified_images.count }}</div>
                           <span class="badge badge-primary">Продажа</span>
                           <img class="card-img-top" src="{{ classified.classified_images.first.get_src }}" alt="{{ classified.nmb_rooms }}, {{ classified.flat_square }} м2, {{ classified.flat_price }} руб.">
                        </div>
                        <div class="card-body">
                           <h2 class="text-primary mb-2 mt-0">
                              {{ classified.flat_price }} <small> руб.</small>
                           </h2>
                           <h5 class="card-title mb-2">{{ classified.nmb_rooms }}, {{ classified.flat_square }} м2, {{ classified.flat_price }} руб.</h5>
                           <h6 class="card-subtitle mt-1 mb-0 text-muted"><i class="mdi mdi-home-map-marker"></i> {{ classified.flat_description|truncatechars_html:35 }}</h6>
                        </div>
                        <div class="card-footer">
                           <span><i class="mdi mdi-sofa"></i> Комнат : <strong>{{ classified.nmb_rooms }}</strong></span>
                           <span><i class="mdi mdi-scale-bathroom"></i> Этаж : <strong>{{ classified.flat_floor }} из {{ classified.total_floor }}</strong></span>
                           <span><i class="mdi mdi-move-resize-variant"></i> Площадь : <strong>{{ classified.flat_square }} м2.</strong></span>
                        </div>
                     </a>
                  </div>
               </div>
            {% endfor %}
            </div>
         </div>
      </section>
      <!-- End Similar Properties -->
               </div>
                  <div class="col-lg-4 col-md-4">
                  <div class="card sidebar-card property-single-slider">
                     <div class="card-body">
                        <h5 class="card-title mb-4">Продавец</h5>
                        <div class="about-agent">
                           <div class="carousel-inner">
                              <div class="carousel-item active">
                                 <div class="card card-list">
                                    <a href="property-single-gallery.html#">
                                       <img class="card-img-top" src="{% static 'img/agent.jpg' %}" alt="Card image cap">
                                       <div class="card-body pb-0 about-agent-info">
                                          <h5 class="card-title mb-4">{{ classified.author.username }}</h5>
                                          <h6 class="card-subtitle mb-3 text-muted"><i class="mdi mdi-phone"></i> {{ classified.author_phone }}</h6>
                                          <h6 class="card-subtitle mb-3 text-muted"><i class="mdi mdi-email"></i> Звоните в разумное время дня!</h6>

                                       </div>
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="card sidebar-card property-single-slider">
                     <div class="card-body">
                        <h5 class="card-title mb-4">Объявление не актуально?</h5>
                           <p>Это ваша квартира и вы не размещали объявление? Или объявление уже не актуально? Нажмите на кнопку ниже, и отправьте запрос на удаление с сайта.</p>
                           <a href="{% url 'complaint_classified_url' classified.slug %}" class="btn btn-secondary btn-lg btn-block">Пожаловаться</a>

                     </div>
                  </div>
                  <div class="card sidebar-card property-single-slider">
                     <div class="card-body">
                        <h5 class="card-title mb-4">Популярные предложения</h5>
                        <div id="featured-properties" class="carousel slide" data-ride="carousel">
                           <ol class="carousel-indicators">
                              <li data-target="#featured-properties" data-slide-to="0" class="active"></li>
                              <li data-target="#featured-properties" data-slide-to="1"></li>
                           </ol>
                           <div class="carousel-inner">
                           {% for classified in feautered_classifieds %}
                              <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                 <div class="card card-list">
                                    <a href="{{ classified.get_absolute_url }}">
                                       <div class="card-img">
                                          <div class="badge images-badge"><i class="mdi mdi-image-filter"></i> {{ classified.classified_images.count }}</div>
                                          <span class="badge badge-success">Продажа</span>
                                          <img class="card-img-top" src="{{ classified.classified_images.first.get_src }}" alt="{{ classified.nmb_rooms }}, {{ classified.flat_square }} м2, {{ classified.flat_price }} руб.">
                                       </div>
                                       <div class="card-body">
                                          <h2 class="text-primary mb-2 mt-0">
                                             {{ classified.flat_price }} <small>руб.</small>
                                          </h2>
                                          <h5 class="card-title mb-2">{{ classified.nmb_rooms }}, {{ classified.flat_square }} м2, {{ classified.flat_price }} руб.</h5>
                                          <h6 class="card-subtitle mt-1 mb-0 text-muted"><i class="mdi mdi-home-map-marker"></i> {{ classified.flat_description|truncatechars_html:35 }}</h6>
                                       </div>
                                       <div class="card-footer">
                                          <span><i class="mdi mdi-sofa"></i> Комнат : <strong>{{ classified.nmb_rooms }}</strong></span>
                                          <span><i class="mdi mdi-scale-bathroom"></i> Этаж : <strong>{{ classified.flat_floor }} из {{ classified.total_floor }}</strong></span>
                                          <span><i class="mdi mdi-move-resize-variant"></i> Площадь : <strong>{{ classified.flat_square }} м2.</strong></span>
                                       </div>
                                    </a>
                                 </div>
                              </div>
                           {% endfor %}
                              <div class="carousel-item">
                                 <div class="card card-list">
                                    <a href="property-single-gallery.html#">
                                       <div class="card-img">
                                          <div class="badge images-badge"><i class="mdi mdi-image-filter"></i> 03</div>
                                          <span class="badge badge-success">For Sale</span>
                                          <img class="card-img-top" src="img/list/3.png" alt="Card image cap">
                                       </div>
                                       <div class="card-body">
                                          <h2 class="text-primary mb-2 mt-0">
                                             $55,000 <small>/month</small>
                                          </h2>
                                          <h5 class="card-title mb-2">Loft Above The City</h5>
                                          <h6 class="card-subtitle mt-1 mb-0 text-muted"><i class="mdi mdi-home-map-marker"></i> Hope Street (Stop P), London SW11, UK</h6>
                                       </div>
                                       <div class="card-footer">
                                          <span><i class="mdi mdi-sofa"></i> Beds : <strong>2</strong></span>
                                          <span><i class="mdi mdi-scale-bathroom"></i> Baths : <strong>1</strong></span>
                                          <span><i class="mdi mdi-move-resize-variant"></i> Area : <strong>100 sq ft</strong></span>
                                       </div>
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- End Property Single Slider -->
{% endblock %}