{% extends 'base.html' %}

{% block content %}
          <section class="section-padding bg-dark inner-header">
         <div class="container">
            <div class="row">
               <div class="col-md-12 text-center">
                  <h1 class="mt-0 mb-3">Редактирование объявления</h1>
                  <div class="breadcrumbs">
                     <p class="mb-0"><a href="{% url 'home_url' %}"><i class="mdi mdi-home-outline"></i> Главная</a> /  Редактирование объявления</p>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Add Property -->
      <section class="section-padding">
         <div class="container">
            <div class="row">
               <div class="col-lg-4 col-md-4 user-side-bar">
                  <div class="list-group">
                     <a class="list-group-item list-group-item-action" href="http://giftechies.com/samar-real-estate/theme/user-profile.html"><span class="mdi mdi-account"></span> User Profile</a>
                     <a class="list-group-item list-group-item-action" href="http://giftechies.com/samar-real-estate/theme/social-profiles.html"><span class="mdi mdi-share-variant"></span> Social Profiles</a>
                     <a class="list-group-item list-group-item-action active" href="{% url 'user_classifieds_url' %}"><span class="mdi mdi-home-account"></span> Мои объявления</a>
                     <a class="list-group-item list-group-item-action" href="http://giftechies.com/samar-real-estate/theme/favorite-properties.html"><span class="mdi mdi-heart"></span> Favorite Properties</a>
                     <a class="list-group-item list-group-item-action" href="{% url 'add_classified_url' %}"><span class="mdi mdi-account-location"></span> Добавить объявление</a>
                  </div>
               </div>
               <div class="col-lg-8 col-md-9">
                  <form action="{% url 'edit_classified_url' classified.slug %}" method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                      {% for field in form %}
                         <div class="form-group">
                            {{ field.label_tag }}
                            {{ field.error_messages }}
                            {{ field }}
                        </div>
                      {% endfor %}
                      <div class="row" id="image-add-items">
                            {% for image in classified.classified_images.all %}
                                <div class="col-sm-3 image-block image-block-edit">
                                    <div class="images-edit-wrapper">
                                        <button data-image-id="{{ image.id }}" class="delete_icon"></button>
                                    <img src="{{ image.get_src }}" class="img-fluid"/>
                                    </div>
                                </div>
                            {% endfor %}

                            {{ formset.management_form }}
                            {% for field in formset %}
                                <div class="col-sm-3 image-block image-block-edit">
                                     <div class="form-group photo-upload-block">
                                        {{ field }}
                                    </div>
                                </div>
                            {% endfor %}
                       </div>
                     <button type="submit" id="btn-classified-edit" class="btn btn-primary btn-lg">Принять изменения</button>
                  </form>
               </div>
            </div>
         </div>
      </section>
      <!-- End Add Property -->

{% endblock %}